iframe {
    width: 250%; /* adjust to your needs */
    max-width: 150%; /* to make it responsive */
    
}

.container {
    max-width: 500px;
    margin: auto;
    position: relative;
}

.divider {
    padding: 32px;
}

body {
    
}
